/.cursor
/.idea
/.venv
/.vscode
/book
/code1-0
/digits.png
/digit_recognizer.tflite
/digit_training_result.png
/emnist-letters-test-images-idx3-ubyte.gz
/emnist-letters-test-labels-idx1-ubyte.gz
/emnist-letters-train-images-idx3-ubyte.gz
/emnist-letters-train-labels-idx1-ubyte.gz
/handwritten_letter_model.tflite
/handwritten_letter_model1.0.tflite
/handwritten_letter_model_ori.tflite
/horizontal_lines.png
/letter-recognition.data
/mnist_model.tflite
/model_trocr
/name1.png
/name2.png
/nameSample.png
/numDetect1-0.py
/sample
/sample2-10-.jpg
/sample2-10.jpg
/sample4-8.jpg
/select1.png
/select2.png
/select3.png
/select4.png
/select_shape.docx
/slideWindow.py
/test1.png
/test2.png
/test3.png
/training_log.png
/vertical_lines.png
/__pycache__